.btn {
    margin: 5px 0;
}

.btn aw2-button{
    display: flex;
    justify-content: center;
}

.relative{
    position: relative;
}

.text-center {
    text-align: center;
}

.logo-container{
    padding: 20px;
}

.auth-btns{
    padding: 20px;
}