<div class="auth-contaner relative">
    <div class="logo-container text-center ">
        <h3>awork</h3>
        <p>Timer Tracking Extension</p>
    </div>
    <div class="mid-img">
        <img src="/assets/images/hand-surf.svg" alt="hand-surf image" />
    </div>
    <div class="auth-btns">
        <!-- login button -->
        <div class="btn">
            <aw2-button
                id="login-btn"
                text="Log in"
                color="blue"
                (click)="handleLogin()"
                width="50%"
            ></aw2-button>
        </div>
         <!-- sign-up button -->
        <div class="btn">
            <aw2-button
                id="login-btn"
                text="Sign up"
                color="blue"
                (click)="handleSignup()"
            ></aw2-button>
        </div>
    </div>
</div>