.timerContainer {
    display: flex;
    gap: 10px;
}

.timerContainer .timerButton {
    padding: 8px;
    background-color: #f5f0f9;
    border: 1px solid #A157F6;
    border-radius: 10px;
    width: 94px;
    text-align: center;
}

.heading_section {
    display: flex;
    justify-content: space-between;
}

.heading_section h2 {
    padding: 10px;
    font-weight: bold;
}

.currentTime {
    padding: 5px !important;
    margin-bottom: 8px;
    border-radius: 10px;
    border-color: #A157F6;
    width: 100%;
    margin-left: 8px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #5576AA;
}

.currentTime input {
    width: 96% !important;
    border: 1px solid #A157F6 !important;
    padding: 10px !important;
    margin-right: -38px !important;
}

.timer_btn {
    margin-top: 15px;
    width: 412px;
    height: 48px;
    gap: 8px;
    border: 1px solid #A157F6;
    border-radius: 10px;
    color: #A157F6;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tabel_content h3 {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #5576aa;
    margin-left: 8px;
    margin-bottom: 4px;
}

.progress_bar {
    color: #a157f6 !important;
    border: 1px solid #A157F6 !important;
    border-radius: 10px !important;
    padding: 0px !important;
}

.select_drop {
    padding: 10px;
    border: 1px solid #A157F6;
    border-radius: 10px;
    font-size: 14px;
    max-width: 100px;
}

.word-break-all {
    word-break: break-all;
}

.timeentry-row {
    color: #5576AA !important;
    font-weight: bold;
}