<div>
    <!-- Timer details -->
    <div class="aw-2-pos--relative aw-2-w-100 aw-2-py--xxl aw-2-px--l">
        <div class="aw-2-flx aw-2-flx--center aw-2-flx--content-between aw-2-mb--xl">
            <a href="#" class="aw-2-d--block"><img src="/assets/images/logo.svg" alt="logo" /></a>
            <div class="">
                <a href="#" (click)="openDashboard()" class=" aw-2-mr--l"><i class="aw-2-icn">open_in_new</i></a>
                <a href='#' (click)="openSettings()"><i class="aw-2-icn">settings</i></a>
            </div>
        </div>

        <!-- current time input feild -->
        <div class="aw-2-mb">
            <aw2-text-field label="{{ 'timer.current_time' | translate }}"
                placeholder="{{ 'timer.add_note' | translate }}..." (change)="noteChange($event)"></aw2-text-field>
        </div>

        <!-- dropdown buttons for project, task and work -->

        <div class="aw-2-flx">
            <aw2-dropdown-field id="projectsDropdown" (changed)="projectChange($event)" class="aw-2-drop--custom"
                label="{{ 'timer.projects' | translate }}"></aw2-dropdown-field>
            <aw2-dropdown-field id="tasksDropdown" class="aw-2-drop--custom aw-2-ml--s" (changed)="taskChange($event)"
                label="{{ 'timer.tasks' | translate }}"></aw2-dropdown-field>
            <aw2-dropdown-field id="workTypeDropdown" class="aw-2-drop--custom aw-2-ml--s"
                (changed)="typeOfWorkChange($event)"
                label="{{ 'timer.type_of_work' | translate }}"></aw2-dropdown-field>
            <button *ngIf="!selectedValues.isBillable else billabletemplate"
                class="aw-2-project_btns aw-2-flx aw-2-flx--center aw-2-b-0 aw-2-b--radius-m aw-2-p--s aw-2-ml--s aw-2-txt--bold aw-2-txt--m aw-2-bill-color">
                $ <span class="aw-2-ml--s">{{ 'timer.not_billable' | translate }}</span>
            </button>
            <ng-template #billabletemplate>
                <button
                    class="aw-2-project_btns aw-2-flx aw-2-flx--center aw-2-b-0 aw-2-b--radius-m aw-2-p--s aw-2-ml--s aw-2-txt--bold aw-2-txt--m aw-2-bill-color">
                    $ <span class="aw-2-ml--s">{{ 'timer.billable' | translate }}</span>
                </button>
            </ng-template>

        </div>

        <!-- start or stop time interval -->

        <div class="aw-2-mt">
            <!-- stop interval -->
            <div *ngIf="timerRunning else timerButton">
                <button (click)="stopTimer();"
                    class="aw-2-d--block aw-2-w--full aw-2-p--l aw-2-b--radius-l aw-2-b-0 aw-2-btn">
                    <div class="aw-2-flx aw-2-flx--center aw-2-txt--center aw-2-w--full aw-2-flx--content-center ">
                        <img src="/assets/images/stop.svg" alt="stop" />
                        <span class="aw-2-txt--bold aw-2-txt--m">
                            {{ timer }}
                        </span>
                    </div>
                </button>
            </div>

            <!-- start interval -->
            <ng-template #timerButton>
                <button
                    class="aw-2-d--block aw-2-w--full aw-2-p--l aw-2-b--radius-l aw-2-b-0 aw-2-btn aw-2-start-stop--btn"
                    (click)="startTimer()">
                    <div class="aw-2-flx aw-2-flx--center aw-2-txt--center aw-2-w--full aw-2-flx--content-center ">
                        <i class="aw-2-icn">play_arrow</i>
                        <span class="aw-2-txt--bold aw-2-txt--m ">
                            {{ 'timer.start_timer' | translate }}
                        </span>
                    </div>
                </button>
            </ng-template>
        </div>
    </div>

    <!-- tabel for project entries -->
    <div class="aw-2--table aw-2-px--l">
        <h3 class="aw-2-txt--bold aw-2-txt--m aw-2--head-color">{{ 'timer.recently_tracked' | translate }}</h3>
        <table class="aw-2-tbl aw-2-p--l">
            <tbody *ngIf="timeEntries.length != 0" class="aw-2-tbl-content-list">
                <tr *ngFor="let timeEntry of timeEntries" class="aw-2-table-row">
                    <td class="aw-2-w--full aw-2-py--m">
                        <div class="aw-2-flx aw-2-flx--center aw-2-txt--truncate">
                            <img src="/assets/images/briefcase.svg" alt="briefcase" />
                            <div class="aw-2-ml--m w-2-txt--truncate aw-2-w--full aw-2-project--content">
                                <div class="aw-2-flx aw-2-flx--center">
                                    <div class="aw-2-flx aw-2-flx--centeraw-2-mr--s aw-2-flx-size aw-2-txt--truncate"
                                        *ngIf="timeEntry?.project">
                                        <img src="/assets/images/bell.svg" alt="bell" />
                                        <span class="aw-2-txt--bold aw-2-txt--m aw-2-txt--truncate">
                                            {{timeEntry?.project?.name}}
                                        </span>
                                    </div>
                                    <div class="aw-2-flx aw-2-flx--center aw-2-flx-size aw-2-txt--truncate"
                                        *ngIf="timeEntry?.task">
                                        <i class="aw-2-icn">arrow_right</i>
                                        <span
                                            class="aw-2-txt--bold aw-2-txt--m aw-2-txt--truncate aw-2-task-text-width">
                                            {{timeEntry?.task?.name}}
                                        </span>
                                    </div>
                                </div>
                                <h3 *ngIf="timeEntry?.note" class="aw-2-txt--bold aw-2-txt--m aw-2-project--note">
                                    ({{timeEntry?.note}})</h3>
                            </div>
                        </div>
                        <ng-template #noProject>
                            <span>N/A</span>
                        </ng-template>
                    </td>
                    <td class="aw-2--date--time-width aw-2-py--m aw-2-txt--bold">
                        {{getDate(timeEntry.createdOn)}}
                        <br />
                        {{getTime(timeEntry.startTimeLocal)}}- {{getTime(timeEntry.endTimeLocal)}}
                    </td>
                    <td class="aw-2--progress-bar-width aw-2-py--m aw-2-txt--bold">
                        <div *ngIf="timeEntry?.endTimeLocal else timerNotEnded">
                            {{totalTrackingTime(timeEntry)}}
                            <mat-progress-bar mode="determinate" class="progress_bar"
                                value={{timeEntry?.duration}}></mat-progress-bar>
                        </div>
                        <ng-template #timerNotEnded>
                            {{ 'timer.tracking' | translate }}
                        </ng-template>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="timeEntries.length == 0">
                <tr class="aw-2-table-row">
                    <td class="text-center">{{ 'timer.no_data_found' | translate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>