<div>
    <!-- Timer details -->
    <div>
        <div class="heading_section">
            <h2>awork</h2>
            <div class="">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    style="fill: rgb(126, 11, 233); margin-top: 5px !important;"
                >
                    <path
                        d="m2.344 15.271 2 3.46a1 1 0 0 0 1.366.365l1.396-.806c.58.457 1.221.832 1.895 1.112V21a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1v-1.598a8.094 8.094 0 0 0 1.895-1.112l1.396.806c.477.275 1.091.11 1.366-.365l2-3.46a1.004 1.004 0 0 0-.365-1.366l-1.372-.793a7.683 7.683 0 0 0-.002-2.224l1.372-.793c.476-.275.641-.89.365-1.366l-2-3.46a1 1 0 0 0-1.366-.365l-1.396.806A8.034 8.034 0 0 0 15 4.598V3a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1.598A8.094 8.094 0 0 0 7.105 5.71L5.71 4.904a.999.999 0 0 0-1.366.365l-2 3.46a1.004 1.004 0 0 0 .365 1.366l1.372.793a7.683 7.683 0 0 0 0 2.224l-1.372.793c-.476.275-.641.89-.365 1.366zM12 8c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4z"
                    ></path>
                </svg>
            </div>
        </div>

        <!-- current time input feild -->
        <div class="currentTime">
            <aw2-text-field
                label="Current time"
                placeholder="Fixing client reported bugs"
                (change)="noteChange($event)"
            ></aw2-text-field>
        </div>

        <!-- dropdown buttons for project, task and work -->
        <div class="timerContainer">
            <select
                (change)="projectChange($event)"
                [(ngModel)]="selectedValues.project"
                class="select_drop"
                placeholder="Project"
            >
                <option
                    value=""
                    selected
                >Project</option>
                <option
                    *ngFor="let list of list.projects"
                    value={{list?.id}}
                >{{list.name}}</option>
            </select>
            <select
                (change)="taskChange($event)"
                class="select_drop"
                [(ngModel)]="selectedValues.task"
            >
                <option
                    value=""
                    selected
                >Task</option>
                <option
                    *ngFor="let list of list.tasks"
                    value={{list?.id}}
                    style="word-break: break-all;"
                >{{list.name}}</option>
            </select>
            <select
                (change)="typeOfWorkChange($event)"
                class="select_drop"
                [(ngModel)]="selectedValues.typeOfWork"
            >
                <option
                    value=""
                    selected
                >Work</option>
                <option
                    *ngFor="let list of list.workTypes"
                    value={{list?.id}}
                >{{list.name}}</option>
            </select>
            <div class="timerButton">Billable</div>
        </div>

        <!-- start or stop time interval -->

        <div class="mt-3">
            <!-- stop interval -->
            <div *ngIf="timerRunning else timerButton">
                <button (click)="stopTimer();">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        style="fill: rgb(161, 87, 246)
                    ; margin-top: 3px !important;"
                    >
                        <path
                            d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"
                        ></path>
                    </svg>{{ timer }}</button>
            </div>

            <!-- start interval -->
            <ng-template #timerButton>
                <button
                    class="timer_btn"
                    (click)="startTimer()"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        style="fill: rgb(161, 87, 246)
                    ; margin-top: 3px !important;"
                    >
                        <path
                            d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"
                        ></path>
                    </svg>Start Timer</button>
            </ng-template>
        </div>
    </div>

    <!-- tabel for project entries -->
    <div class="tabel_content">
        <h3>Recently tracked</h3>
        <table class="table table-striped">
            <tbody *ngIf="timeEntries.length != 0">
                <tr
                    *ngFor="let timeEntry of timeEntries"
                    style="color: #5576AA !important; font-weight: bold;"
                >
                    <td>
                        <span *ngIf="timeEntry?.project ">
                            {{timeEntry?.project?.name}}
                        </span>
                        <ng-template #noProject>
                            <span>N/A</span>
                        </ng-template>
                    </td>
                    <td>
                        {{getDate(timeEntry?.createdOn)}}
                        <br />
                        {{getTime(timeEntry.startTimeLocal)}}- {{getTime(timeEntry.endTimeLocal)}}
                    </td>
                    <td>
                        <div *ngIf="timeEntry?.endTimeLocal else timerNotEnded">
                            {{totalTrackingTime(timeEntry)}}
                            <mat-progress-bar
                                mode="determinate"
                                class="progress_bar"
                                value={{timeEntry?.duration}}
                            ></mat-progress-bar>
                        </div>
                        <ng-template #timerNotEnded>
                            Timer is being tracked
                        </ng-template>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="timeEntries.length == 0">
                <tr>
                    <td class="text-center">No Data Found.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>