@import "./assets/css/ease-styles.scss";

$progress-bar-width: 60px;
$date-time-width: 100px;
$dropdown-width: 100px;
$content-width: calc(100% - 40px);

.aw-2-w--full {
    width: 100%;
}

.aw-2-b-0 {
    border: 0;
}

.aw-2-btn {
    color: $color-purple-900;
}

.aw-2-flx--content-between {
    justify-content: space-between;
}

.aw-2-flx--content-center {
    justify-content: center;
}

.aw-2-flx--content-between {
    justify-content: space-between;
}

.aw-2-flx--content-center {
    justify-content: center;
}

.aw-2-w-main {
    min-width: 470px;
    max-width: 600px;
    min-height: 430px;
}

.aw-2-btns button.btn--auto {
    width: 200px;
}

.aw-2-project_btns {
    background-color: $color-blue-100;
}

.aw-2-bill-color {
    color: $color-blue;
}

.aw-2--head-color {
    color: var(--color-steel);
}

.aw-2--progress-bar-width {
    width: $progress-bar-width;

    .progress_bar {
        border: 0 !important;
        background: rgba($color-blue-900, 0.3) !important;
        border-radius: 10px !important;
        padding: 0px !important;

        .mdc-linear-progress__bar-inner {
            border-color: $color-blue-900;
        }
    }
}

.aw-2--date--time-width {
    width: $date-time-width;
}

.aw-2-tbl-content-list tr {
    &:hover {
        td {
            background-color: $color-blue-o-50;
        }
    }

    td {
        &:first-child {
            @extend #{".aw-2-btl--radius-m", ".aw-2-bbl--radius-m"};
        }

        &:last-child {
            @extend #{".aw-2-btr--radius-m", ".aw-2-bbr--radius-m"};
        }
    }
}

.aw-2-drop--custom {
    width: $dropdown-width;

    .dropdown-field-label {
        display: none;
    }
}

.aw-2-start-stop--btn {
    background-color: $color-purple-o-50;
}

.aw-2-project--content {
    width: $content-width;
}

.aw-2-project--note {
    color: #{$gray-light-400}
}

.aw-2-h--39 {
    height: 39px;
}

.aw-2-w--100 {
    width: 100%;
}


.aw-2-page-layout {
    padding: 56px 84px 119px 84px;
}

.aw-2-mb-84 {
    margin-bottom: 84px;
}

.aw-2-option-heading {
    @include font-size(l);
    font-weight: $font-weight-bold;
    margin-right: 12px;
    color: $gray-light-900;
}

.aw-2-option-subheading {
    @include font-size(s);
    font-weight: $font-weight-semi;
    color: $gray-light-500;
}

.aw-2-option-border-col {
    border-color: $gray-light-200;
}

.aw-2-option-search-width {
    width: 244px;
}

.aw-2-fw-bold {
    font-weight: $font-weight-bold;
}

.aw-2-fw-semi {
    font-weight: $font-weight-semi;
}

.aw-2-mx-width-1024 {
    max-width: 1024px;
    margin-inline: auto;
}

.aw-2-mb {
    margin-bottom: 15px;
}

.aw-2-mt {
    margin-top: 15px;
}

.aw-2-task-text-width {
    max-width: 150px;
}


/* need to unset the width for long text in the dropdown */
.cdk-overlay-container.popup-overlay-container .popup {
    width: unset !important;
}

/* using ellipsis for long task on select box */
.dropdown-field__button-container span{
    white-space: nowrap;
    overflow: hidden;
    max-width: 50px;
    text-overflow: ellipsis;
}